
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        top: 0;
        width: 100vw;
        height: var(--nav-width-small);
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin-left: 0;
        margin-top: var(--nav-width-small);
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: var(--nav-width-small);
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg
    {
        margin-left: var(--nav-logo-margin-left);
    }

    .navbar:hover .logo-text
    {
        left: 0px;
    }
}