
:root {
    --nav-logo-bg: var(--bg-gray-1);
    --nav-bg: var(--bg-gray-2);
    --nav-active-bg: var(--bg-gray-3);
    --nav-text-color: var(--text-white);
    --nav-icon-active-color: var(--ggstRed1);
    --nav-icon-hover-color: var(--ggstRed2);
    
    /* numbers */
    --nav-transition-speed: 600ms;
    --nav-width-small: 5rem;
    --nav-width-large: 16rem;
    --nav-icon-width: 2rem;
    --nav-icon-margin-lr: calc((var(--nav-width-small) - var(--nav-icon-width))/2);
    --nav-logo-margin-left: calc(var(--nav-width-large) - var(--nav-icon-width) - var(--nav-icon-margin-lr));

    --nav-width: 100vw;
    --nav-height: var(--nav-width-small);
    --nav-width-occupation: 0px;
    --nav-height-occupation: var(--nav-width-small);
}

.navbar {
    position: fixed;
    background-color: var(--nav-bg);
    color: var(--nav-text-color);
    transition: width var(--nav-transition-speed) ease;
    overflow: auto;
    top: 0;
    width: var(--nav-width);
    height: var(--nav-height);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item.active {
    background: var(--nav-active-bg);
}
.nav-item.active svg{
    fill: var(--nav-icon-active-color)
}

/* .nav-item:last-child {
    margin-top: auto;
} */

.nav-link {
    display: flex;
    align-items: center;
    height: var(--nav-width-small);
    color: var(--nav-text-color);
    text-decoration: none;
    transition: var(--nav-transition-speed);
    justify-content: center;
}

.nav-item:hover {
    background: var(--nav-active-bg);
}

.link-text {
    filter: grayscale(100%) opacity(0.7);
    display: none;
    margin-left: 1rem;
}

.nav-link:hover .link-text {
    filter: grayscale(0%) opacity(1);
}

.nav-link svg {
    width: var(--nav-icon-width);
    min-width: var(--nav-icon-width);
    margin: 0 var(--nav-icon-margin-lr);
    fill: var(--nav-text-color);
    transition: var(--nav-transition-speed);
}
.nav-link:hover svg{
    fill: var(--nav-icon-hover-color)
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--nav-text-color);
    background: var(--nav-logo-bg);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    display: none;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--nav-transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--nav-transition-speed);
    margin-left: var(--nav-icon-margin-lr);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

main {
    margin-left: 0;
    margin-top: var(--nav-width-small);
}

/* Large screens */
@media only screen and (min-width: 700px) {
    :root {
        --nav-width: var(--nav-width-small);
        --nav-height: 100vh;
        --nav-width-occupation: var(--nav-width-small);
        --nav-height-occupation: 0;
    }

    .logo {
        display: list-item;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-link {
        justify-content: left;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg
    {
        margin-left: var(--nav-logo-margin-left);
    }

    .navbar:hover .logo-text
    {
        left: 0px;
    }
    main {
        margin-top: 0;
        margin-left: var(--nav-width-small);
    }
}