@import './base.css';

body {
	color: var(--text-white);
	background-color: var(--bg-gray-3);
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--bg-gray-1);
}

body::-webkit-scrollbar-thumb {
	background: #1e1e24;
}

main {
	--main-padding: 1rem;
	padding: var(--main-padding);
}